/* THIS IS WHERE ALL THE FONTS STYLES & CUSTOMIZATION ARE IMPLEMENTED FOR ALL VIEWPORTS */

/* TEXTS SIZES, ALIGNMENTS & COLORS */

/* DESTOP VIEWPORT */

:root,
* {
    font-family: poppins, 'san-serif' !important;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
ul,
label,
.big-text,
.small-text,
.mid-text,
.big-heading {
    line-height: 160%;
}


.line-height-120 {
    line-height: 120% !important;
}


/* TEXTS COLORS */

.accent-text {
    color: var(--secondary-purple);
}

.danger-text {
    color: var(--danger-red);
}


.link {
    color: var(--secondary-purple);
}

.link:hover {
    color: var(--primary-purple);
}

/* TEXT ALIGNMENTS */

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-justify {
    text-align: justify;
}

/* Responsive text alignment */
@media (max-width: 576px) {
    :root {
        font-size: 14px;
    }

    .text-sm-left {
        text-align: left;
    }

    .text-sm-center {
        text-align: center;
    }

    .text-sm-right {
        text-align: right;
    }

    .text-sm-justify {
        text-align: justify;
    }
}

@media (max-width: 768px) {
    .text-md-left {
        text-align: left;
    }

    .text-md-center {
        text-align: center;
    }

    .text-md-right {
        text-align: right;
    }

    .text-md-justify {
        text-align: justify;
    }
}

@media (max-width: 992px) {
    :root {
        font-size: 15px;
    }

    .text-lg-left {
        text-align: left;
    }

    .text-lg-center {
        text-align: center;
    }

    .text-lg-right {
        text-align: right;
    }

    .text-lg-justify {
        text-align: justify;
    }
}

@media (max-width: 1200px) {
    .text-xl-left {
        text-align: left;
    }

    .text-xl-center {
        text-align: center;
    }

    .text-xl-right {
        text-align: right;
    }

    .text-xl-justify {
        text-align: justify;
    }
}






/* CUSTOM CLASSES */

.big-text {
    font-size: 1.25rem;
}

.small-text {
    font-size: 0.875rem;
}

.mid-text {
    font-size: 18px;
}

.heading {
    font-size: 2rem;
    font-weight: 700;
    line-height: 150%;
}

.main-heading {
    font-size: 82px;
    font-weight: 800;
    line-height: 100px;
}

.big-heading {
    font-size: 3rem;
    font-weight: 700;
}

.small-heading {
    font-size: 1.5rem;
    font-weight: 700;
}

.small-heading-slim {
    font-size: 1.5rem;
    font-weight: 600;
}

.bold {
    font-weight: 600;
}

.semi-bold {
    font-weight: 500;
}



/* Basic list styling */
.lists ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.lists li {
    position: relative;
    padding-left: 1.5em;
    margin-bottom: 1rem;
    line-height: 1.6;
}

/* Custom bullet points */
.lists li:before {
    content: "•";
    /* You can change this to other symbols */
    position: absolute;
    left: 0;
    color: #333;
    /* Bullet point color */
}



a,
a:hover,
a *,
a *:hover {
    cursor: pointer !important;
}


@media only screen and (max-width: 1280px) {
    .main-heading {
        font-size: 64px;
        line-height: 80px;
    }
}


@media screen and (max-width: 992px) {
    .big-heading {
        font-size: 2.6rem;
    }
}


@media only screen and (max-width: 576px) {
    .main-heading {
        font-size: 12vw;
        line-height: 15vw;
    }

    .big-heading {
        font-size: 9vw;
        line-height: 13vw;
    }

    .heading {
        font-size: 7vw;
        line-height: 150%;
    }
}